.autor-banner-wrapper {

    @include media ('>=tablet') {
        max-width: 1106px;
        width: 100%;
        height: 440px;
        background-color: #b5b5b5;
        display: flex;
        justify-content: center;
    }
}


.autor-banner-content {
    width: 100%;
    padding: 50px;
    background-color: $green;

    @include media ('>=tablet') {
        max-width: 652px;
        width: 100%;
        height: 218px;
        margin: auto;
        background-color: $green;
        display: flex;
        align-items: center;
        padding: 0 57px;
    }
}

.autor-banner-title {
    display: none;

    @include media ('>=tablet') {
        display: block;
        width: 58%;
        padding: 0 23px 0 0;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
    }

    span {
        @include media ('>=tablet') {
            font-weight: 700;
        }
    }
}


.autor-banner-btn {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 18px 5px;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #ffffff;
    color: #263238;
    background-color: #fff;
    transition: all 0.3s ease-out;
    display: block;
    text-transform: capitalize;

    @include media ('>=tablet') {
        width: 42%;
        padding: 18px 40px;
    }

    &:hover {
        background: transparent;
        color: #ffffff;
        background-color: $green;
    }
}